.userList {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: flex-start;
    margin: auto;
    max-width: 200px;
    width: 100%;
    height: 100%;
}

.userListItem{
    border: 2px solid black;
    flex: 1;
    height: 50px;
}
.userListItemIsSelected{
    border: 2px solid green;
    width: inherit;
}
 span {
    display: block;
}


