.userList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 2px solid black;
    margin: auto;
    max-width: 200px;
    width: 200px;
    max-height: 100%;
}

.userListItem{
    border: 2px solid green;
    width: inherit;
}
 span {
    display: block;
}


